.toolbar_section {
  background-color: var(--color-light-dark);
  border-bottom: 1px solid rgb(197, 197, 197);
}

.toolbar_containerr {
  display: flex;
  flex-direction: row;
}

.unordered_list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 20%;
}

.unordered_list li {
  margin: 1rem 1rem 0rem 0rem;
}

.session_text {
  color: var(--color-text-light);
}

.input_group {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
}

.search_button {
  background-color: transparent;
}
