.toolbar_section {
  background-color: var(--color-light-dark);
  border-bottom: 1px solid rgb(197, 197, 197);
}

.toolbar_containerr {
  display: flex;
  flex-direction: row;
}

.unordered_list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  padding-left: 10rem;
  padding-right: 10rem;
  margin: auto;
  margin-right: 6rem;
  margin-left: 6rem;
}

.unordered_list li {
  margin: 1rem 0rem 1rem 0rem;
  padding: 0rem 0.5rem 0rem 0.5rem;
}

.session_text {
  color: var(--color-text-light);
}

.input_group {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
}

.search_button {
  background-color: transparent;
}

.year_option_list {
  display: flex;
  flex-direction: row;
}
