
.speakerlist_container {
  background-color: var(--color-light-dark);
  
}

.container_speaker {
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container_list {
  margin: 1rem;
}

.container_speaker_list {
  width: 20rem;
  border: 1px solid rgb(194, 194, 194);
  background-color: var(--color-dark);
}

.container_list:last-of-type{
  align-content: left;
}

.speaker_list_col {
  display: flex;
  flex-direction: column;
}

.speaker_list_image {
  margin: auto;
  padding-top: 0.875rem;
}

.speaker_info {
  justify-content: space-between;
  padding: 1rem;
  color: var(--color-text-light);
}

.company {
  color: var(--color-text-light);
}

.twitter {
  color: var(--color-text-light);
}

.company_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.company_container .home_icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.twitter_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.twitter_container .twitter_icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.social_desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.session_box {
  background-color: var(--color-dark);
  color: var(--color-text-light);
  padding: 0.25rem;
  width: 20rem;
  border: 1px solid rgb(189, 189, 189);
}

.favorite_icons {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

