.speakerlist_container {
  background-color: var(--color-light-dark);
}

.container_speaker {
  display: grid;
  margin-top: 1rem;
}

@media (max-width: 555px) {
  .container_speaker {
    gap: 1px;
  }
}

.row {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  margin: auto;
}

@media (max-width: 1068px) {
  .row {
    grid-template-columns: auto auto;
    gap: 1px;
  }
}

@media (max-width: 698px) {
  .row {
    display: grid;
    grid-template-columns: auto;
    gap: 1px;
  }
}

.container_list {
  margin: 1rem;
  width: 20rem;
  align-self: right;
}

.container_speaker_list {
  border: 1px solid rgb(194, 194, 194);
  background-color: var(--color-dark);
}

.speaker_list_col {
  display: flex;
  flex-direction: column;
  min-height: 570px;
}

.speaker_list_image {
  margin: auto;
  padding-top: 0.875rem;
}

.speaker_info {
  justify-content: space-between;
  padding: 1rem;
  color: var(--color-text-light);
}

.company {
  color: var(--color-text-light);
}

.twitter {
  color: var(--color-text-light);
}

.company_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.company_container .home_icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.twitter_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.twitter_container .twitter_icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.social_desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.session_box {
  background-color: var(--color-dark);
  color: var(--color-text-light);
  padding: 0.25rem;
  width: 20rem;
  border: 1px solid rgb(189, 189, 189);
}

.favorite_icons {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.speaker_delete_container {
  padding: 1rem;
  background-color: rgb(238, 238, 238);
}

.speaker_add_container {
  margin: auto;
  margin-bottom: 0.875rem;
  margin-top: 0.875rem;
}

.speaker_add_tag {
  font-style: normal;
  font-weight: bold;
  padding: 0.5rem;
  color: rgb(53, 53, 53);
  background-color: rgb(223, 223, 223);
  border-radius: 10%;
  cursor: pointer;
}

.speaker_delete_tag {
  font-weight: bold;
  color: rgb(53, 53, 53);
}

.speaker_delete_tag i {
  font-style: normal;
}
